<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container"  routerLink="" class="brand-logo">Clone</a>
      <ul class="right hide-on-med-and-down">
        <li><a >Menu</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="container">
 <router-outlet></router-outlet>
  </div>
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Manoel System</h5>
          <p class="grey-text text-lighten-4">Este projeto foi desenvolvido por Manoel Neto Bacharel em Sistemas de Informação.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Tá na Rede</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/manoel.neto.56829446">Facebook</a></li>
            <li><a class="white-text" href="http://www.manoelsystem.somee.com/">Portifólio</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
  
